<!DOCTYPE html>
<html>
  <head>
    <title>Selsys</title>
    <%= renderTemplate("_header.html.template") %>
    <link rel="mask-icon" href="/static/icons/mask-icon.svg" color="#18bcf2" />
    <link
      rel="apple-touch-icon"
      href="/static/icons/favicon-apple-180x180.png"
    />
    <meta name="apple-itunes-app" content="app-id=1099568401" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="Home Assistant">
    <meta name="msapplication-config" content="/static/icons/browserconfig.xml" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="Home Assistant">
    <meta name="referrer" content="same-origin" />
    <meta name="theme-color" content="{{ theme_color }}" />
    <meta name="color-scheme" content="dark light" />
    <%= renderTemplate("_style_base.html.template") %>
    <style>
      html {
        background-color: var(--primary-background-color, #fafafa);
        color: var(--primary-text-color, #212121);
        height: 100vh;
      }
      @media (prefers-color-scheme: dark) {
        html {
          background-color: var(--primary-background-color, #111111);
          color: var(--primary-text-color, #e1e1e1);
        }
      }
      #ha-launch-screen {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      #ha-launch-screen svg {
        width: 112px;
        flex-shrink: 0;
      }
      #ha-launch-screen .ha-launch-screen-spacer-top {
        flex: 1;
        margin-top: calc( 2 * max(env(safe-area-inset-bottom), 48px) + 46px );
        padding-top: 48px;
      }
      #ha-launch-screen .ha-launch-screen-spacer-bottom {
        flex: 1;
        padding-top: 48px;
      }
      .ohf-logo {
        margin: max(env(safe-area-inset-bottom), 48px) 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: .66;
      }
      @media (prefers-color-scheme: dark) {
        .ohf-logo {
          filter: invert(1);
        }
      }
    </style>
  </head>
  <body>
    <div id="ha-launch-screen">
      <div class="ha-launch-screen-spacer-top"></div>
      <img src="/static/icons/favicon-192x192.png" alt="Selsys">
      <div id="ha-launch-screen-info-box" class="ha-launch-screen-spacer-bottom"></div>
      <div class="ohf-logo">
        <img src="/static/images/ohf-badge.svg" alt="Selsys is a project by the Open Home Foundation" height="46">
      </div>
    </div>
    <home-assistant></home-assistant>
    <%= renderTemplate("_js_base.html.template") %>
    <%= renderTemplate("_preload_roboto.html.template") %>
    <script crossorigin="use-credentials">
      if (isModern) {
        <% for (const entry of latestEntryJS) { %>
          import("<%= entry %>");
        <% } %>
        window.customPanelJS = "<%= latestCustomPanelJS %>";
        window.latestJS = true;
      }
    </script>
    <script>
    {%- for extra_module in extra_modules -%}
    import("{{ extra_module }}");
    {%- endfor -%}
    </script>
    <script>
        if (!window.latestJS) {
          window.customPanelJS = "<%= es5CustomPanelJS %>";
          <% for (const entry of es5EntryJS) { %>
            _ls("<%= entry %>", true);
          <% } %>
        }
    </script>
    <script>
      if (!window.latestJS) {
        {%- for extra_script in extra_js_es5 -%}
        _ls("{{ extra_script }}");
        {%- endfor -%}
      }
    </script>
  </body>
</html>
